.btn-style {
  display: block;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in;
}

.btn-color_01 {
  background: lightgreen;
  color: aliceblue;
}

.btn-color_01:hover {
  background: rgb(116, 226, 116);
  color: aliceblue;
}

.btn-color_02 {
  background: lightcoral;
  color: aliceblue;
}

.btn-color_02:hover {
  background: #e56969;
  color: aliceblue;
}