h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  list-style-position: inside;
  padding-left: 0 !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}