@import './custom.css';
@import './buttons.css';

.card-radius {
  border-radius: 6px;
}

.card-link {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.text-fit {  
  font-weight: 100;
}

.text-bold {
  font-weight: 500;
}

.title,
.section-title {
  text-transform: uppercase;
}

.box-section_title {
  margin-bottom: 50px;
  text-align: center;
}

.box-section_title span {
  font-size: 22px;
  font-weight: 100;
}

.section-title {
  font-size: 28px;
}

/*//////////  */
.topbar {
  background: lightcoral;
  padding: 5px 0;
}

ul.topbar-lista li {
  color: #FFF;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin: 0 7px;
  text-transform: uppercase;
}

ul.topbar-lista li::before {
  content: "\2022";
  color: #FFF;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
}

/*////////// Header */
.header {
  background: #FFF;
  min-height: 80px;
  padding: 30px 0;
}

.cart-box {
  position: relative;
}

.shop-number {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 5px;
  left: 65px;
  border-radius: 50%;
  background: lightcoral;
  color: #FFF;
  font-size: 10px;
}

/*////////// Slider */
.carousel-indicators li {
  width: 18px;
  height: 18px;
  background-color: #FFF;
  border: 3px solid rgba(255,255,255, .8);
  border-radius: 50%;
}
.carousel-indicators li.active {
  background-color: lightcoral;
  border: 3px solid rgba(255,255,255, .8);
}

/*////////// Condições */
.condicoes {
  background: #FFF;
  padding: 50px 0px;
}

.condicoes-card {
  background: lightgreen;
  color: aliceblue;
  min-height: 100px;
  padding: 25px 15px;
  text-align: center;
}

/*////////// Ecossistema */
.ecossistema-card {
  background: #eee;
  padding: 60px 20px;
  text-align: center;
}

.ecossistema-card img {
  width: 80px;
  margin-bottom: 25px;
}

.ecossistema-card .title {
  font-size: 16px;
  margin-bottom: 10px;
}

.ecossistema-card .card-link {
  color: #000;
}

/*////////// Categoria */
.categoria-card img {
  border-radius: 6px;
  margin-bottom: 25px;
}

.categoria-card .title {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.categoria-card .link {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in;
}

.categoria-card .link:hover {
  color: lightcoral;
}

/*////////// Produtos */
.produtos {
  text-align: center;
}

.produto-card {
  margin-bottom: 40px;
}

.produto-img {
  background: #DDD;
  position: relative;
  width: 100%;
  min-height: 250px;
  margin-bottom: 15px;
}

.produto-selo {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  text-transform: uppercase;
}

.produto-selo_status {
  background: lightcoral;
}

.produto-selo_desc {
  background: lightgreen;
}

.produto-card .title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.produto-card span {
  display: block;
  color: #000;
  font-size: 13px;
}

.produtos .card-link {
  color: #000;
}

/*////////// Esperiência Passion */
.card-experiencia_passion {
  background: rgba(240, 128, 128, .7);
  color: #FFF;
  font-size: 18px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  min-height: 265px;
  width: 100%;
}

.card-experiencia_passion.card-1 {
  height: 100%;
}

.card-experiencia_passion.card-2 {
  margin-bottom: 30px;
}

.card-experiencia_passion.card-3 {
  margin-bottom: 30px;
}

.card-experiencia_passion .content .car-link {
  color: #FFF;
  font-size: 10px !important;
}

.card-experiencia_passion .content .car-link:hover {
  color: #FFF;
}

/*////////// Modelos */
.card-modelos {
  background: lightgreen;
  color: #FFF;
  font-size: 18px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  min-height: 265px;
  width: 100%;
}

.card-modelos-2 {
  background-image: linear-gradient(lightgreen, lightcoral 80%);
}

/*////////// Newsletter */
.newsletter {
  background: #eee;
  padding: 30px;
}

/*////////// Footer */
.footer-col .title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-col .list-links {
  padding-left: 0;
}

.footer-col .list-links li {
  
  margin-bottom: 20px;
}

.footer-col .list-links a {
  color: #000;
  font-size: 14px;
  font-weight: normal;
}

.footer-col .list-links a:hover {
  color: lightcoral;
}

.footer-col .footer-logo {
  display: block;
  margin-bottom: 40px;
  max-width: 150px;
}

/*////////// Copyright */
.copy {
  background: lightgreen;
  color: aliceblue;
  font-size: 14px;
  font-weight: normal;
  padding: 7px 0;
}

/*////////// Page Sobre */
.topo-internas {
  background-image: url(../img/banner-topo-categoria.png);
  min-height: 70vh;
}

/*////////// Page Produtos */
.sidebar-categorias {
  padding: 30px 50px;
}
.form-ordenar label {
  font-size: 12px;
  font-weight: 400;
  margin-right: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.form-control-alt,
.form-ordenar .form-control-ordenar {
  border-color: #000;
  border-radius: 6px;
}

/*////////// Page Produto */
.produto-descricao {
  padding: 50px 30px 15px;
}

.produto-descricao span{
  font-size: 12px;
}

.form-control-qtd {
  border-color: #000;
  border-radius: 6px;
  max-width: 100px;
}

/*////////// Page Carrinho */
.el_only-mobile {
  display: none;
}

main.cart .cart-header {
  padding: 20px 5px;
}

main.cart .celula {
  padding: 20px 5px;
}

main.cart .celula img {
  width: 150px;
  max-height: 150px;
}

main.cart .btn-remove {
  color: red;
  font-size: 10px;
}

main.cart .celula-alt {
  display: flex;
  align-items: center;
}

main.cart .celula-alt span {
  min-width: 150px;
}

main.cart .celula-alt .form-control {
  max-width: 150px;
}

/*////////// Page Pagto */
.pagto .box {
  margin-bottom: 50px;
  padding: 25px 15px;
}
.pagto .box-id {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 15px;
  min-height: 250px;
}

.pagto .box-resumo {
  border: 2px solid #ccc;
  padding: 15px 10px;
}

.pagto ul.resumo-compra li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pagto ul.resumo-compra li:last-child {
  margin-bottom: 10px;
}

.pagto .produto-item img {
  max-width: 50px;
  margin-right: 10px;
}

form.cadastro label {
  font-size: 11px;
}

form.cadastro .form-control {
  box-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

/*////////// Page Ecossistema */
.gallery-item .item-1 {
  height: 100%;
}
